.header{
  margin: 44px 0px;
  padding-bottom: 85px;
  margin: 0px;
 
}

.header__box{
  display: flex;
  align-items: center;
}
  



.header__box__image{
  margin-right: auto;
  
  
  
}

.header__item{
  display: flex;
  // justify-content: space-between;
  padding: 0px;
}


.header__list{
  list-style: none;
  margin: 0 30px;
 






}

.header__link{
  text-decoration: none;
  color:#83888F;
  letter-spacing: 0.92px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  padding: 8px 0px ;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;


  &:hover{
    border-bottom: 2px solid #83888F;
    letter-spacing: 0.92px;
    color: 
    #333D4B;
    
    }

}
  
// .header__link--active{
//   margin: 0px 33px;
// }


.header__input{
  width: 170px;
  border:transparent;
  padding: 8px;
  border-bottom: 2px solid #333 ;

  &:focus{
    border:transparent;
  }
}
