.section{
  margin-bottom: 168px;
}

.section__box{
  background-image: url(../image/Bitmap.jpg);
  background-size: cover;
  border-radius: 10px;
}


.section__little__box{
  padding: 137px 0px ;
  padding-left: 87px;
}




.section__text{
  font-family: "Fraunces" , "serif";
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  color: #FEFCF7;
  margin: 0px;
}

.section__poragraf-case{
  width: 445px;
}
.section__poragraf{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
margin: 0px;
margin-top: 24px;
color: #FEFCF7

}