
.section-next{
  
  margin-bottom: 140px;
}



.section-next__item{
 
  list-style: none;
}


.section-next__list{
  
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  width: 280px;
}
.section-next__element{
  width: 280px;
}


.section-next__element--active{
  margin: 0px 80px;
}

.section-next__item__herro{
  font-size:  18px;
  line-height: 27px;
  color: #222;
  font-weight: 700;
}




.section-next__item__poragraf{
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  margin: 30px 0px;
}






.item-span{
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #ddd;
  margin-right: 8px;
}

.section-next__link{
  text-decoration: none;
  color: #EA625C;
  font-weight: 700;
  font-size: 18px;

  &:hover > .section-next__list__link{
    width: 50px;
  }
}


.section-next__list__link{
  display: inline-block;
  width: 40px;
  height: 1px;
  background-color: #EA625C;
  align-items: center;
  vertical-align: middle;
  margin-right: 10px;
  transition: width 0.4s ease;

  &:hover{
    width: 50px;
  }
}


