.section-our__box{
  display: flex;
  padding: 154px 0px;
  align-items: center;
}


.section-our__little__box{
  width: 490px;
  align-items: center;
  margin-right: 110px;
  vertical-align: middle;
   
  
}


.section-our__box__herro{
  margin: 0px;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
}

.section-our__box__poragraf{
  margin: 0px;
  padding-left: 40px;
  border-left: 3px solid #888 ;
  font-weight: 400;
  line-height: 24px;
  margin: 30px 0px;

}


.section-our__box__link{
  display: block;
  // padding: 12px 38.5px;
  padding: 12px 0px;
  text-decoration: none;
  text-align: center;
  background-color: #EA625C ;
  opacity: 0.7;
  color: #fff;
  font-weight: 700;
  width: 183px;
  transition:background-color 0.4s ease ;
  
 &:hover{
   opacity: 1;

 }

}